<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/myFile/css/backend/backend_base.css">
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <title>后台界面</title>
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/static/myFile/image/backend/logo.png" alt="">
        </div>
        <ul>
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="">修改资料</a>
            </li>
            <li>
                <a href="/backend/edit_avatar/">修改头像</a>
            </li>
            <li>
                <a href="/backend/reset_password/">修改密码</a>
            </li>
            <li>
                <a href="/backend/add_article/">修改密码</a>
            </li>
        </ul>
    </aside>
    <main>
        {% block main %}
            <div class="user_info">
            <div class="left">
                <img src="/static/myFile/image/avatar/test_avatar.webp" alt="">
            </div>
            <div class="right">
                <div class="item">
                    <span><b>用户名:</b>EvanTheBoy</span>
                </div>
                <div class="item">
                    <span><b>注册时间:</b>2022-12-25</span>
                </div>
                <div class="item">
                    <span><b>上次登陆时间:</b>2022-12-25</span>
                </div>
                <div class="item">
                    <span><b>用户积分:</b>20</span>
                </div>
                <div class="item">
                    <span><b>邮箱:</b>evanparker945@gmail.com</span>
                </div>
                <div class="item">
                    <span><b>电话号码:</b>19892750761</span>
                </div>
            </div>
        </div>
            <div class="actions">
                <div class="item">
                    <el-button type="primary">完善信息</el-button>
                </div>
                <div class="item">
                    <el-button type="success">修改头像</el-button>
                </div>
                <div class="item">
                    <el-button type="info">修改密码</el-button>
                </div>
                <div class="item">
                    <el-button type="danger">注销账号</el-button>
                </div>
            </div>
            {% block content %}
                <div class="article_collection">
                <p>我收藏的文章</p>
                <div class="article_list">
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">
                            <img src="/static/myFile/image/article_collection/match1.jpg" alt="">
                        </div>
                        <div class="right">
                            <h4>路由分发</h4>
                            <p>静态文件显示配置，在项目根目录下创建一个static目录，在settings.py中写上静态文件显示配置</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        {% endblock %}
    </main>
</div>
<script src="/static/vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
    })
</script>
</body>
</html>