<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/myFile/css/backend/backend_base.css">
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <title>后台界面</title>
</head>
<body>
<aside>
    <div class="slogan">
        <img src="/static/myFile/image/backend" alt="">
    </div>
    <ul>
        <li>
            <a href="">首页</a>
        </li>
        <li>
            <a href=""></a>
        </li>
        <li>
            <a href=""></a>
        </li>
        <li>
            <a href=""></a>
        </li>
    </ul>
</aside>
<main>

</main>
</body>
</html>