<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/myFile/css/backend/backend_base.css">
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <title>后台界面</title>
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/myFile/image/backend/logo.png" alt="">
        </div>
        <ul>
            <li>
                <a href="">首页</a>
            </li>
            <li>
                <a href="">个人中心</a>
            </li>
            <li>
                <a href="">修改头像</a>
            </li>
            <li>
                <a href="">修改密码</a>
            </li>
        </ul>
    </aside>
    <main>
        <div class="user_info">
            <div class="left">
                <img src="" alt="">
            </div>
            <div class="right">

            </div>
        </div>
    </main>
</div>
<script src="/static/vue/vue.js"></script>
<script>
    new Vue({
        el: '#app',
    })
</script>
</body>
</html>