<!--需要继承首页-->
{% extends 'index.html' %}
{% load my_tag %} <!--把这个也导入进来，为了下面的banner不报警告，因为不会二次继承-->
<!--还有导航栏的样式也要继承-->
{% block css %}
    <link rel="stylesheet" href="/static/myFile/css/article.css">
{% endblock %}

{% block banner %}
    {% banner 'article' nid %}
{% endblock %}

<!--主要是继承这个页面-->
{% block main %}
    <div class="article">
        <div class="article_title">
            <h2>{{ passage.title }}</h2>
            <p>
                <span>发布时间: <i>{{ passage.create_date|date:'Y-m-d' }}</i></span>  <!--date后面那种写法是为了指定日期的格式-->
                <span>作者: <i>{{ passage.author }}</i></span>
                <span>来源: <i>{{ passage.source }}</i></span>
            </p>
            <div>
                <i title="文章标签" class="fas fa-tags"></i>
                <i>HTML</i>
                <i>CSS</i>
            </div>
        </div>
        <div class="article_content">
            md内容
        </div>
        <div class="comment_submit">
            <div class="title">
                你觉得文章怎么样
            </div>
            <div class="body">
                <textarea name="" id="" rows="10" placeholder="说说你的想法吧!"></textarea>
            </div>
            <div class="footer">
                <p><span>49</span>人参与, <span>3</span>条评论</p>
                <button class="submit_button">发布评论</button>
            </div>
        </div>
        <div class="comment_list">
            <ul>
                <li>
                    <div class="left">
                        <img src="/static/myFile/image/avatar/Curry.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Steph Curry</h4>
                        <!--这里需要使用markdown去渲染-->
                        <div class="comment_content">
                            <p>Hello World!</p>
                            <div>
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                            </div>
                        </div>
                        <div class="comment_details">
                            <span>刚刚</span>
                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/myFile/image/avatar/dog.png" alt="">
                                </div>
                                <div class="right">
                                    <h4>小李@Steph Curry</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_details">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞 (1)</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/myFile/image/avatar/dog.png" alt="">
                                </div>
                                <div class="right">
                                    <h4>小李@Steph Curry</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_details">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞 (1)</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="left">
                        <img src="/static/myFile/image/avatar/Curry.jpg" alt="">
                    </div>
                    <div class="right">
                        <h4>Steph Curry</h4>
                        <!--这里需要使用markdown去渲染-->
                        <div class="comment_content">
                            <p>Hello World!</p>
                            <div>
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                                <img src="/static/myFile/image/comment/comments.png" alt="">
                            </div>
                        </div>
                        <div class="comment_details">
                            <span>刚刚</span>
                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comment_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/myFile/image/avatar/dog.png" alt="">
                                </div>
                                <div class="right">
                                    <h4>小李@Steph Curry</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_details">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞 (1)</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="/static/myFile/image/avatar/dog.png" alt="">
                                </div>
                                <div class="right">
                                    <h4>小李@Steph Curry</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_details">
                                        <span>1秒前</span>
                                        <div>
                                            <span>点赞 (1)</span>
                                            <span>回复</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}