<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="/static/myFile/css/index.css">
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <link rel="stylesheet" href="/static/fontawesome-free-6.2.0-web/css/all.min.css">
    <script src="/static/vue/vue.js"></script>
</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/myFile/css/theme/'+ theme + '.css'">
    <nav>
        <div class="left">
            <a href="/">首页</a>
            <a href="/news">动态</a>
            <a href="#">回忆录</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
            <a href="#">导航</a>
        </div>
        <div class="right">
            <div>
                <img v-show="theme === 'light'" src="/static/myFile/image/nav/light.svg" @click="setTheme('dark')" alt="">
            </div>
            <!--这个v-show表示显示白天主题或黑夜主题的时候，在页面上只展示一张图片-->
            <div>
                <img v-show="theme === 'dark'" src="/static/myFile/image/nav/dark.svg" @click="setTheme('light')" alt="">
            </div>
            <div>
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </div>
    </nav>
    {% banner 'index' %}
    <main>
        {% block main %}
            <div class="main">
                <div class="left">
                    <div class="boutique_article card">
                        <div class="title">
                            <h2>精选文章</h2>
                            <div>
                                <a href="#">更多内容</a>
                            </div>
                        </div>
                        <div class="body">
                            main contents
                        </div>
                    </div>
                    <div class="hot_list card">
                        <div class="title">
                            <h2>今日热搜</h2>
                            <div>
                                <a href="#">更多内容</a>
                            </div>
                        </div>
                        <div class="body">
                            main contents
                        </div>
                    </div>
                    <div class="blog_article card">
                        <div class="title">
                            <h2>博客文章</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="left">
                                        <img src="/static/myFile/image/article/pic1.jpg" alt="">
                                    </div>
                                    <div class="right">
                                        <h2><a href="#">React的基本使用</a></h2>
                                        <p>
                                            安装React包，
                                            Python npm i react react-dom//
                                            之类的下载指令
                                            使用React,html标签//
                                            创建React元素，参数一:元素名称//
                                            参数二:元素
                                        </p>
                                        <div class="article_info">
                                            <span>
                                                <i class="far fa-clock"></i>2022-10-29
                                            </span>
                                            <span>
                                                <i class="fas fa-thumbs-up"></i>231
                                            </span>
                                            <span>
                                                <i class="far fa-eye"></i>138
                                            </span>
                                            <span>
                                                <i class="fas fa-comments"></i>57
                                            </span>
                                            <span>
                                                <i class="fas fa-star-half-alt"></i>100
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="station card">
                        <div class="title">
                            <h2>站点信息</h2>
                            <div>
                                <a href="#">申请</a>
                            </div>
                        </div>
                        <div class="body">
                            main contents
                        </div>
                    </div>
                    <div class="labels card">
                        <div class="title">
                            <h2>标签云</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="suggestions card">
                        <div class="title">
                            <h2>意见反馈</h2>
                            <div>
                                <a href="#">更多内容</a>
                            </div>
                        </div>
                        <div class="body">
                            main contents
                        </div>
                    </div>
                    <div class="links card">
                        <div class="title">
                            <h2>友情链接</h2>
                            <div>
                                <a href="#">更多内容</a>
                            </div>
                        </div>
                        <div class="body">
                            main contents
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
    <footer>
        <div class="left">
            <div id="unify" class="thank">Thanks For</div>
            <div id="unify" class="icon">
                <div class="msg1"><img src="/static/myFile/image/footer/tencent.png" alt=""></div>
                <span class="msg4">腾讯云服务器</span>
                <span class="msg2"><img src="/static/myFile/image/footer/tencent.png" alt=""></span>
                <span class="msg5">腾讯云SSL证书</span>
                <span class="msg3"><img src="/static/myFile/image/footer/qiniu.png" alt=""></span>
                <span class="msg6">七牛云存储</span>
            </div>
            <div id="unify" class="version">
                <span>version</span>
                <span>v1.0.0</span>
            </div>
            <div id="unify">成立日期:2022年10月25日</div>
            <div id="unify" class="beian">
                <a href="https://beian.miit.gov.cn/"><img src="/static/myFile/image/footer/beian.png" alt=""></a>
                <span>备案号xxx</span>
            </div>
        </div>
        <div id="unify" class="right">
            <div>
                联系邮箱:761356554@qq.com
            </div>
        </div>
    </footer>
</div>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data:{
            theme: 'light'  //默认主题是白色
        },
        created() {
            this.initTheme();
        },
        methods: {
            //初始化主题
            initTheme() {
                //从持久化存储层中拿到这个theme，并判断是否存在
                let theme = localStorage.getItem('theme');
                if (theme) {
                    this.theme = theme;
                }
            },
            //设置主题
            setTheme(themeName) {
                this.theme = themeName;
                //仍要将其持久化存储,否则一刷新就没了
                localStorage.setItem('theme', themeName);
            }
        }
    })

    let menu_img = document.querySelectorAll('.slideshow');
    //获取轮播图的长度
    let menu_length = menu_img.length;
    //指定一个位置
    let index = 0;
    //设置定时器
    let timer = null;
    clearInterval(timer);
    timer = setInterval(() => {
        ++index;
        if (index === menu_length) {
            index = 0;
        }
        for (let i of menu_img) {
            i.style.opacity = 0;
        }
        menu_img[index].style.opacity = 1;
    }, 6000)
</script>
</body>
</html>