<!DOCTYPE html>
<html lang="en">
{% load my_tag %}
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="/static/myFile/css/index.css">
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <script src="/static/vue/vue.js"></script>
</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/myFile/css/theme/'+ theme + '.css'">
    <nav>
        <div class="left">
            <a href="#">首页</a>
            <a href="#">动态</a>
            <a href="#">心情</a>
            <a href="#">关于</a>
        </div>
        <div class="right">
            <div>
                <img v-show="theme === 'light'" src="/static/myFile/image/nav/light.svg" @click="setTheme('dark')" alt="">
            </div>
            <!--这个v-show表示显示白天主题或黑夜主题的时候，在页面上只展示一张图片-->
            <div>
                <img v-show="theme === 'dark'" src="/static/myFile/image/nav/dark.svg" @click="setTheme('light')" alt="">
            </div>
            <div>
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </div>
    </nav>
    {% banner 'index' %}
    <main>
        Contents
    </main>
    <footer>
        底部信息栏
    </footer>
</div>
<script>
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data:{
            theme: 'light'  //默认主题是白色
        },
        created() {
            this.initTheme();
        },
        methods: {
            //初始化主题
            initTheme() {
                //从持久化存储层中拿到这个theme，并判断是否存在
                let theme = localStorage.getItem('theme');
                if (theme) {
                    this.theme = theme;
                }
            },
            //设置主题
            setTheme(themeName) {
                this.theme = themeName;
                //仍要将其持久化存储,否则一刷新就没了
                localStorage.setItem('theme', themeName);
            }
        }
    })

    let menu_img = document.querySelectorAll('.slideshow');
    //获取轮播图的长度
    let menu_length = menu_img.length;
    //指定一个位置
    let index = 0;
    //设置定时器
    let timer = null;
    clearInterval(timer);
    timer = setInterval(() => {
        ++index;
        if (index === menu_length) {
            index = 0;
        }
        for (let i of menu_img) {
            i.style.opacity = 0;
        }
        menu_img[index].style.opacity = 1;
    }, 6000)
</script>
</body>
</html>