<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>个人博客|用户登录</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <link rel="stylesheet" href="/static/myFile/css/login.css">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <main>
        <div class="top">
            <div class="title">
                {% block main_title %}
                     <a class="active" href="/login">登录</a> / <a href="/register">注册</a>
                {% endblock %}
            </div>
            <div class="login_forms">
            {% csrf_token %}
                {% block form %}
                    <input type="text" ref="login_form_name" v-model="login_form.name" placeholder="请输入用户名">
                    <!--这里写v-model指令是为了实现表单中数据与data，就是下面vue代码中的数据的双向绑定-->
                    <!--意思就是下面是什么，这里就是什么，没有写死，二者中的一个变了，另一个也跟着变-->
                    <input type="password" ref="login_form_pwd" v-model="login_form.pwd" placeholder="请输入密码">
                    <div class="code">
                        <input type="text" ref="login_form_code" v-model="login_form.code" placeholder="请输入验证码">
                        <img @click="get_random_code" src="/static/myFile/image/login/code.png" alt="">
                    </div>
                    <button @click="login">登录</button>
                {% endblock %}
            </div>
            <div class="other_login">
                <p>其他登录方式</p>
                <div>
                    <img src="/static/myFile/image/footer/QQ_icon.svg" alt="">
                    <img src="/static/myFile/image/footer/WeChat_icon.svg" alt="">
                    <img src="/static/myFile/image/footer/GitHub.svg" alt="">
                    <img src="/static/myFile/image/footer/weibo.svg" alt="">
                    <img src="/static/myFile/image/footer/bilibili.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <img src="/static/myFile/image/login/term_sheet.svg" alt="">
        </div>
    </main>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    //请求中间件
    //为什么需要这些？因为用户输入用户名、密码那些后要登录，会被拦截，这是Django自带安全验证机制
    //捣的鬼。所以必须给input的那些加一个随机字符串，这个可以在前端用F12查出来，加上后，才能顺利
    //到后端，然后被处理。以下并不是真的发请求，而是在发送前，先对数据做处理
    //这是Django自带的安全验证机制，每次加一个随机字符串，表示这是安全的，那么post请求
    //就可以通行，否则post请求会被拦截。因为不想在每一个方法里面都这么写（太麻烦了），所以抽出来
    //单独写在这
    axios.interceptors.request.use(request => {
        if (request.method === 'post') {
            let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            //加上一个请求头
            request.headers['X-CSRFToken'] = csrf_token
        }
        return request
    })

    //响应中间件
    //为了获取数据的方便。否则光有请求中间件，每次请求数据时都要res.data.name啥的
    //这里直接给它
    axios.interceptors.response.use(response => {
        return response.data
    })

    //以上两个其实都会拦截请求，记得每次拦截后，一定要return出去，否则后面的就拿不到了

    new Vue({
        el:'#app',
        data: {
            login_form: {
                name:'',
                pwd:'',
                code:''
            },
            register_form: {
                name:'',
                pwd:'',
                re_pwd:'',
                code:''
            }
        },
        methods: {
            login() {
                axios.post('/api/login/', this.login_form).then(res => {
                    //验证错误
                    //res就是从客户端获取的全部数据，要获取具体项的话，直接“.成员”就可以了
                    if (res.code) {
                        this.$message.error(res.msg)
                        this.$refs[`login_form_${res.self}`].focus()
                        return
                    }
                    this.$message.success(res.msg)
                    //登录成功1s后跳转回主页
                    setTimeout(()=>{
                        location.href='/'
                    }, 1000)
                })
            },
            register() {
                axios.post('/api/register/', this.register_form).then(res => {
                    //验证错误
                    if (res.code) {
                        this.$message.error(res.msg)
                        //以下代码为：当某个地方输入错误时，获取焦点，以提示用户重新输入
                        //下面这种写法的实现前提就是在html代码中要绑定ref
                        this.$refs[`register_form_${res.self}`].focus()
                        return
                    }
                    this.$message.success(res.msg)
                    //注册成功1s后跳转回主页
                    setTimeout(()=>{
                        location.href='/'
                    }, 1000)
                })
            },
            get_random_code(e) {
                let time = new Date().getTime()
                //这里是一个请求路径，在urls.py配置的路由里面
                e.target.src = '/login/random_code/?timestamp=' + time
            }
        }
    })
</script>
</body>
</html>