<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>个人博客|用户登录</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <link rel="stylesheet" href="/static/myFile/css/login.css">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <main>
        <div class="top">
            <div class="title">
                {% block main_title %}
                     <a class="active" href="/login">登录</a> / <a href="/register">注册</a>
                {% endblock %}
            </div>
            <div class="login_forms">
            {% csrf_token %}
                {% block form %}
                    <input type="text" ref="login_form_name" v-model="login_form.name" placeholder="请输入用户名">
                    <input type="text" ref="login_form_pwd" v-model="login_form.pwd" placeholder="请输入密码">
                    <div class="code">
                        <input type="text" ref="login_form_code" v-model="login_form.code" placeholder="请输入验证码">
                        <img src="/login/random_code" alt="">
                    </div>
                    <button @click="login">登录</button>
                {% endblock %}
            </div>
            <div class="other_login">
                <p>其他登录方式</p>
                <div>
                    <img src="/static/myFile/image/footer/QQ_icon.svg" alt="">
                    <img src="/static/myFile/image/footer/WeChat_icon.svg" alt="">
                    <img src="/static/myFile/image/footer/GitHub.svg" alt="">
                    <img src="/static/myFile/image/footer/weibo.svg" alt="">
                    <img src="/static/myFile/image/footer/bilibili.svg" alt="">
                </div>
            </div>
        </div>
        <div class="bottom">
            <img src="/static/myFile/image/login/term_sheet.svg" alt="">
        </div>
    </main>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    //请求中间件
    axios.interceptors.request.use(request => {
        if (request.method === 'post') {
            let csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrf_token
        }
        return request
    })

    //响应中间件
    axios.interceptors.response.use(response => {
        return response.data
    })

    new Vue({
        el:'#app',
        data: {
            login_form: {
                name:'',
                pwd:'',
                code:''
            },
            register_form: {
                name:'',
                pwd:'',
                re_pwd:'',
                code:''
            }
        },
        methods: {
            login() {
                axios.post('/login/', this.login_form).then(res => {
                    //验证错误
                    if (res.code) {
                        this.$message.error(res.msg)
                        this.$refs[`login_form_${res.self}`].focus()
                        return
                    }
                    this.$message.success(res.msg)
                })
            },
            register() {
                axios.post('/register/', this.register_form).then(res => {
                    //验证错误
                    if (res.code) {
                        this.$message.error(res.msg)
                        this.$refs[`register_form_${res.self}`].focus()
                        return
                    }
                    this.$message.success(res.msg)
                })
            }
        }
    })
</script>
</body>
</html>