<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="/static/myFile/css/reset.css">
    <link rel="stylesheet" href="/static/myFile/css/login.css">
</head>
<body>
<div id="app">
    <main>
        <div class="top">
            <div class="login_forms">
                <h2>login</h2>
                <input type="text" placeholder="请输入用户名">
                <input type="text" placeholder="请输入密码">
                <button>登录</button>
            </div>
            <div class="other_login">
                <p>其他登录方式</p>
                <div>

                </div>
            </div>
        </div>
        <div class="bottom">
            <img src="/static/myFile/image/login/term_sheet.svg" alt="">
        </div>
    </main>
</div>
</body>
</html>