.article {
  width: 1200px;
  position: relative;

  .article_title {
    display: flex;
    flex-direction: column;
    align-items: center; //居中
    background-color: white;

    h2 {
      margin: 10px 0;  //设置上下距离。距离上面10px,左右均为0
    }

    p {
      font-size: 14px;
      color: #333333;

      span {
        margin: 10px;
        &:last-child {
          margin-right: 0; //去掉最后一个元素右边的margin
        }
      }
    }

    >div {
      margin: 10px 0;

      i {
        font-size: 16px;
        margin-right: 5px;
        color: #ff9800;

        &:first-child {
          color: #333333;
        }
      }
    }
  }

  .article_content {   //文章主体内容
    margin-top: 1px;
    min-height: 200px;
    background-color: white;
    width: calc(100% - 40px);
  }

  .comment_submit {  //文章底下的评论的提交
    margin-top: 20px;
    min-height: 200px;
    background-color: white;
    padding: 20px 20px 10px 20px;

    .title {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #f0eeee;
      color: #555555;
      position: relative;

      &::after {
        display: block;
        content: '';
        width: 145px;
        height: 1px;
        background-color: #333333;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .body {
      width: calc(100% - 40px);
      height: 175px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 5px;
      box-shadow: inset 2px 2px 6px rgb(0 0 0 / 8%);  //评论框的内阴影

      textarea {
        width: 100%;
        height: 100%;
        background-color: transparent; //透明色,去掉其本来的颜色，太丑了。
        border: none; //消除边框
        resize: none;

        &:focus {
          border: none; //获得焦点时同样去掉边框
          outline: none; //去掉边框的第二步
        }
      }
    }

    .footer {
      font-size: 14px;
      color: #555555;
      position: relative;
      padding: 3px;

      p > span {
        color: #ff9800;
      }

      > button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: #4169E1;
        color: white;
        cursor: pointer;  //鼠标点击效果
        position: absolute;

        bottom: 20px; //调整按钮的位置
        right: 0;
        top: 10px;
        transition: all 0.3s;

        &:hover {
          background-color: #1E90FF; //鼠标放在按钮区域时颜色发生变化
        }
      }
    }
  }

  .comment_list {  //评论页面
    margin-top: 20px;

    ul {
      list-style: none;
    }

    > ul {
      > li {
        width: 100%;
        display: flex; //添加流式布局，使得头像与评论区域分为左右两部分
        margin-bottom: 13px;

        .left {
          width: 70px;

          img {
            width: 50px;
            border-radius: 5px;
            transition: all 0.3s; //让图片大小有一个0.3s的过渡，即慢慢变大
            &:hover {
              transform: scale(1.1); //让其大小有一个1.1倍的缩放
            }
          }
        }

        .right {
          width: calc(100% - 70px);
          background-color: white;
          border-radius: 5px;
          position: relative;
          //控制整体向下和向右有一个1px的阴影；模糊程度控制为5px, 颜色选择为黑色, 透明度设置浅一点, 为0.1
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
          //设置padding为：上下为10，左右为20，使得内容与边框隔开一点距离
          padding: 10px 20px;

          //使用伪元素为评论区域添加对话框的经典小三角形
          &::after {
            display: block;
            content: '';
            position: absolute;
            left: -20px;
            top: 15px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right-color: white;  //用来控制出现三角形
          }

          .comment_content {
            margin: 5px 0;

            img {
              margin-top: 5px;
              margin-right: 10px;
              height: 120px;
              border-radius: 5px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
          }

          .comment_details {
            display: flex; //添加流式布局
            justify-content: space-between; //两端对齐
            font-size: 14px;

            > div > span {
              cursor: pointer;
              margin-right: 10px; //三个span标签要隔开一定的距离
              &:last-child {
                margin-right: 0; //最后一个不需要隔开距离
              }
            }
          }

          .delete {
              color: red;
            }

          .sub_comment_list {
            margin-top: 10px;

            > div {
              display: flex;
              margin-bottom: 10px;

              .left {
                width: 60px;

                img {
                  width: 40px;
                  border-radius: 5px;
                  transition: all 0.3s; //让图片大小有一个0.3s的过渡，即慢慢变大
                  &:hover {
                    transform: scale(1.1); //让其大小有一个1.1倍的缩放
                  }
                }
              }
              .right {
                width: calc(100% - 60px);

                .sub_comment_content {
                  margin: 5px 0;

                }

                .sub_comment_details {
                  display: flex;
                  font-size: 14px;
                  justify-content: space-between;

                  > div > span {
                    margin-right: 8px;
                    cursor: pointer;
                    &:last-child {
                      margin-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slider_bar {  //悬浮目录
    width: 210px;
    position: absolute;
    top: 0;
    left: -270px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .body {
      font-size: 16px;
      p {
        transition: all 0.3s;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        white-space: nowrap; //禁止文字折行
        overflow: hidden;  //超出部分不显示
        text-overflow: ellipsis;  //文本溢出时显示省略标记

        &:hover {
          color: white;
          background-color: #26c6da;
        }

        &.H1 {

        }
        &.H2 {
          padding-left: 10px;
        }
        &.H3 {
          padding-left: 15px;
        }
        &.H4 {
          padding-left: 20px;
        }
        &.H5 {
          font-size: 14px;
          padding-left: 20px;
        }
        &.H6 {
          font-size: 12px;
          padding-left: 20px;
        }
      }
    }
  }
}
